﻿
@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "RelayWorks™ | Registration Trial";
}


<div class="sign-up-multi-tenant-page" ng-app="RelayMultiTenantAppTrial">

    <div ui-view>
        <div class="relay-logo-block">
            <div class="row">
                <div class="col-xs-4">
                    <a class="logo" href="\"></a>
                </div>
            </div>
        </div>

        <div class="sign-up-wizard">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <ul class="nav nav-wizard">
                            <li ui-sref-active="active">
                                <a ui-sref="app.step1" ng-class="ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(0)">Number of Users</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step2" ng-class="ctrl.CurrentStepNumber < 1 || ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(1)">Select Subscription</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step3" ng-class="ctrl.CurrentStepNumber < 2 || ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(2)">Register</a>
                            </li>
                            <li ng-class="ctrl.CurrentStepNumber == 3 ? 'active' : 'inactive'">
                                <a>Start RelayWorks</a>
                            </li>
                        </ul>
                        <div class="wizard-content" ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Content/lib/angularjs-slider/dist/rzslider.min.js"></script>

    <script src="~/Content/js/relay/multitenant/Trial/multitenant.trial.app.js"></script>
    <script src="~/Content/js/relay/multitenant/Trial/multitenant.app.trial.config.js"></script>
    <script src="~/Content/js/relay/multitenant/Trial/sign-up.trial.controller.js"></script>
    <script src="~/Content/js/relay/multitenant/Trial/sign-up.trial.service.js"></script>
    <script src="~/Content/js/relay/multitenant/Trial/httpInterceptor.trial.service.js"></script>

    <script src="~/Content/lib/angular-validation-match/dist/angular-validation-match.js"></script>
    <script src="~/Content/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Content/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Content/lib/angular-stripe/angular-stripe.js"></script>
    <script src="~/Content/lib/angular-credit-cards/release/angular-credit-cards.js"></script>
}


