﻿@using MomentumPlus.Relay.Extensions
@model IEnumerable<SubscriptionViewModel>
@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "RelayWorks™ | iHandover Admin Dashboard";
}

<div class="dashboard-page">
  <div class="wrapper">

    <div class="relay-logo-block">
      <div class="row header-buttons">
        <div class="col-xs-4">
          <a class="logo" href="@Url.Action("Index", "AdminDashboard")"></a>
        </div>
        <div class="col-xs-8 text-right">
            <a class="btn btn-menu" href="@Url.Action("GlobalTemplates", "Templates")" style="width: 130px !important;">Global Templates</a>
            <a class="btn btn-menu" href="@Url.Action("TrialRegistration", "Trial")">New trial</a>
            <a class="btn btn-menu active" href="@Url.Action("Index", "AdminDashboard")">Dashboard</a>
            <a class="btn btn-logout" href="@Url.Action("LogOff", "Account")">Logout</a>
        </div>
      </div>
    </div>

    <div class="content-area">
      <h2>Active Subscriptions</h2>
      <div class="table-responsive">
        @if (Model != null && Model.Any())
        {
        <table class="table">
          <thead>
            <tr>
              <th>Manager Email</th>
              @*<th>Subscription Type</th>*@
              <th>Restriction Type</th>
              <th># Users</th>
              <th>Subscription Status</th>
              @*<th>Billing Period</th>*@
              <th>Created Date</th>
              <th>End Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var subscription in Model)
            {
              <tr>
                <th>@subscription.ManagerEmail</th>
                @*<th>@subscription.SubscriptionType</th>*@
                <th>@subscription.RestrictionType</th>
                <th>@subscription.Users</th>
                <th>@subscription.SubscriptionStatus.GetEnumDescription()</th>
                @*<th>@subscription.BillingPeriod</th>*@
                <th>@subscription.CreatedDate</th>
                <th>@subscription.EndDate</th>
                <th></th>
                <th><a class="glyphicon glyphicon-eye-open" href="@Url.Action("GoToRelay", "AdminDashboard", new {subscriptionId = subscription.SubscriptionId})"></a></th>
                <th>
                  @if (@subscription.SubscriptionStatus == StatusOfSubscription.TrialEnd)
                  {
                    using (Html.BeginForm("StartNewTrial", "AdminDashboard", FormMethod.Post))
                    {
                  @Html.AntiForgeryToken()
                  @Html.Hidden("subscriptionId", @subscription.SubscriptionId)
                  <button type="submit" class="btn btn-start-trial">Start New Trial Period</button>
                    }

                  }
                  @if (@subscription.SubscriptionStatus == StatusOfSubscription.Trialing)
                  {
                    using (Html.BeginForm("ExtendTrial", "AdminDashboard", FormMethod.Post))
                    {
                  @Html.AntiForgeryToken()
                  @Html.Hidden("subscriptionId", @subscription.SubscriptionId)
                  <button type="submit" class="btn btn-start-trial">Extend Trial</button>
                    }
                  }
                </th>
                <th>
                  @if (subscription.SubscriptionStatus == StatusOfSubscription.Active && subscription.EndDateTime.HasValue && subscription.EndDateTime > DateTime.UtcNow)
                  {

                  }
                  else
                  {
                    using (Html.BeginForm("DeleteSubscription", "AdminDashboard", FormMethod.Post))
                    {
                      @Html.AntiForgeryToken()
                      @Html.Hidden("subscriptionId", @subscription.SubscriptionId)
                      <button type="submit" class="btn btn-delete-subscription" onclick="javascript: return deleteSubscription();">Delete Subscription</button>
                    }
                  }

                </th>

              </tr>
            }
          </tbody>

        </table>
        }
        else
        {
        <div class="table-block">
          <div class="text-center message-block">
            No subscriptions are available.
          </div>
        </div>
        }
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer">
      <div class="footer-block">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <div class="row padding-top-20">
              <div class="col-xs-12 no-padding">

                <div class="ihandover-logo" onclick="window.open('http://relayworks.io', '_blank');"></div>
              </div>
              <div class="col-xs-12 no-padding">
                <div class="current-year padding-top-10">
                  © @DateTime.Now.Year
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 no-padding">
            <div class="social-buttons">
              <a class="btn btn-twitter" href="https://twitter.com/ihandover" target="_blank">
              </a>
              <a class="btn btn-linkedin" href="https://www.linkedin.com/company/2378457" target="_blank">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

    location.reload(true);

    function deleteSubscription() {
        var r = confirm("Are you sure you want delete this Subscription?");
        if (r == false) {
            return false;
        }
    }
</script>