﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon"/>

    <title>@ViewBag.Title</title>

    <link href="~/Content/lib/webui-popover/dist/jquery.webui-popover.min.css" rel="stylesheet" />
    <link href="~/Content/styles/MultiTenancy.Auth.css" rel="stylesheet"/>

    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/webui-popover/dist/jquery.webui-popover.min.js"></script>
    <script src="~/Content/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="~/Content/js/relay/sign-in/sign_in.js"></script>
    <script src="~/Content/js/relay/loading-animation.module.js"></script>

    @RenderSection("head", required: false)
</head>

<body class="multi-tenant">
    @Html.Partial("_LoadingAnimation")
    <div class="multi-tenant-container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>