﻿<div Id="basketDropdown" class="basketDropdown">
    <div class="title">
        Order
    </div>
    <ul class="order-details">
        <li>
            <div class="type">
                AUD $ 300
            </div>
            <div class="description">
                Billed Yearly
            </div>
        </li>
        <li>
            <div class="type">
                Team
            </div>
            <div class="description">
                User Type
            </div>
        </li>
        <li>
            <div class="type counter">
                <span class="strong">5</span> Managers
            </div>
            <div class="type counter">
                <span class="strong">25</span> Users
            </div>
        </li>
        <li>
            <div class="type">
                Premium
            </div>
            <div class="description">
                Subscription
            </div>
        </li>
    </ul>

    <div class="btn btn-remove-order">Remove</div>
    <div class="btn btn-checkout">Checkout</div>

</div>