﻿<div class="sign-up-wizard-step-1">
    <div class="row">
        <div class="col-xs-12">
            <div class="selected-line" ng-class="ctrl.SignUpModel.Form.UserSubscriptionType == 2 ? 'selected' : ''">
                <div class="user-subscription-type-block" ng-click="ctrl.changeUserSubscriptionType(2)">
                    <div class="price-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="from-label">From</div>
                            </div>
                            <div class="col-md-12 price-info">
                                <div class="currency-symbol">
                                    £
                                </div>
                                <div class="price-label">
                                    {{ ctrl.SignUpModel.UserSubscriptionPrices.TeamPrice }}
                                </div>
                                <div class="period-label">per month</div>
                            </div>
                        </div>
                    </div>
                    <div class="description-block">
                        <div class="type-title">
                            Select number of users
                        </div>
                        <div class="type-stats team-stats">
                            <div class="user-counter">
                                <div class="user-counter-text">
                                    <span class="number">{{ctrl.SignUpModel.Form.SimpleUsersCount}}</span>
                                    User
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <rzslider class="user-slider" rz-slider-model="ctrl.SignUpModel.Form.SimpleUsersCount"
                                                  rz-slider-options="{hideLimitLabels : true, floor: 1, ceil:75, hidePointerLabels : true }"></rzslider>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ctrl.SignUpModel.Form.UserSubscriptionType == 2" class="selected-icon"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <button class="btn btn-next" ng-disabled="ctrl.SignUpModel.Form.UserSubscriptionType === null" ui-sref="app.step2" ng-click="ctrl.goToSecondStep()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
