﻿<div class="sign-up-wizard-step-3">
  <div class="userCountInfo">
    <strong>{{ctrl.SignUpModel.Form.UserSubscriptionType == 0 ? "1 user" : ctrl.SignUpModel.Form.UserSubscriptionType == 1 ? "2 users" : ctrl.SignUpModel.Form.UserSubscriptionType == 2 ? ctrl.SignUpModel.Form.SimpleUsersCount + " users" : ""}}</strong>
  </div>
  <div class="levelTypeInfo">
    <strong> {{ctrl.SignUpModel.Form.SubscriptionLevelType == 0 ? "Basic" : ctrl.SignUpModel.Form.SubscriptionLevelType == 1 ? "Intermediate" : ctrl.SignUpModel.Form.SubscriptionLevelType == 2 ? "Advanced" : ""}}</strong>
  </div>
  <div class="priceInfo">
    <p style="font-size:12px;"> <strong style="font-size:14px;"> £ {{ctrl.SignUpModel.Form.UserSubscriptionType == 0 ? ctrl.SignUpModel.SubscriptionLevelPrices.Basic : ctrl.SignUpModel.Form.UserSubscriptionType == 1 ? ctrl.SignUpModel.UserSubscriptionPrices.Premium : ctrl.SignUpModel.Form.UserSubscriptionType == 2 ? ctrl.SignUpModel.UserSubscriptionPrices.Ultimate : ""}}</strong> /pm</p>
  </div>
  <form name="ctrl.SignUpForm" novalidate="" ng-submit="ctrl.signUp(ctrl.SignUpForm)">
    <div class="row">
      <div class="col-xs-12">
        <div class="user-details-block">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="email"
                               class="form-control"
                               name="Email"
                               ng-class="{'has-error' : ctrl.SignUpForm.Email.$invalid && ctrl.SignUpForm.$submitted}"
                               placeholder="E-mail*"
                               ng-model="ctrl.SignUpModel.Form.Email"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.Name.$invalid && ctrl.SignUpForm.$submitted}"
                               name="Name"
                               placeholder="Name*"
                               ng-model="ctrl.SignUpModel.Form.Name"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.Surname.$invalid && ctrl.SignUpForm.$submitted}"
                               name="Surname"
                               placeholder="Surname*"
                               ng-model="ctrl.SignUpModel.Form.Surname"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.Company.$invalid && ctrl.SignUpForm.$submitted}"
                               name="Company"
                               placeholder="Company*"
                               ng-model="ctrl.SignUpModel.Form.Company"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.Position.$invalid && ctrl.SignUpForm.$submitted}"
                               name="Position"
                               placeholder="Position*"
                               ng-model="ctrl.SignUpModel.Form.Position"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.OfficeLocation.$invalid && ctrl.SignUpForm.$submitted}"
                               name="OfficeLocation"
                               placeholder="Office Location*"
                               ng-model="ctrl.SignUpModel.Form.OfficeLocation"
                               required>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <select ng-model="ctrl.SignUpModel.Form.TimeZone"
                                ng-options="b for b in ctrl.SignUpModel.TimeZones track by b"
                                placeholder="TimeZone*"
                                name="TimeZone"
                                class="select-country"
                                ng-class="{'has-error' : ctrl.SignUpForm.TimeZone.$invalid && ctrl.SignUpForm.$submitted}"
                                required>
                            <option ng-show="!ctrl.SignUpModel.Form.TimeZone" value="" ng-class="{'has-error' : ctrl.SignUpForm.TimeZone.$invalid && ctrl.SignUpForm.$submitted}">TimeZone*</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.Password.$invalid && ctrl.SignUpForm.$submitted}"
                               name="Password"
                               placeholder="Password*"
                               ng-model="ctrl.SignUpModel.Form.Password"
                               required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               ng-class="{'has-error' : ctrl.SignUpForm.PasswordConfirm.$invalid && ctrl.SignUpForm.$submitted || ctrl.SignUpForm.confirmPassword.$error.match}"
                               name="PasswordConfirm"
                               data-match="ctrl.SignUpModel.Form.Password"
                               placeholder="Confirm Password*"
                               ng-model="ctrl.SignUpModel.Form.PasswordConfirm"
                               required>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-details-block">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text"
                       class="form-control card-number"
                       ng-class="{'has-error' : ctrl.SignUpForm.CardNumber.$invalid && ctrl.SignUpForm.$submitted}"
                       name="CardNumber"
                       placeholder="Card Number*"
                       ng-model="ctrl.SignUpModel.Form.CardNumber"
                       cc-number
                       cc-format
                       cc-type="cardType"
                       ng-required="true"
                       required>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-class="{'has-error' : ctrl.SignUpForm.NameOnCard.$invalid && ctrl.SignUpForm.$submitted}"
                       name="NameOnCard"
                       placeholder="Name on Card*"
                       ng-model="ctrl.SignUpModel.Form.NameOnCard"
                       required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="text"
                       class="form-control date"
                       ng-class="{'has-error' : ctrl.SignUpForm.StartDate.$invalid && ctrl.SignUpForm.$submitted}"
                       name="StartDate"
                       placeholder="Start Date"
                       ng-model="ctrl.SignUpModel.Form.StartDate">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="text"
                       class="form-control date"
                       ng-class="{'has-error' : ctrl.SignUpForm.ExpDate.$invalid && ctrl.SignUpForm.$submitted}"
                       name="ExpDate"
                       placeholder="Exp Date*"
                       ng-model="ctrl.SignUpModel.Form.ExpDate"
                       cc-exp
                       ng-required="true"
                       required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="text"
                       class="form-control issueNumber"
                       ng-class="{'has-error' : ctrl.SignUpForm.IssueNumber.$invalid && ctrl.SignUpForm.$submitted}"
                       name="IssueNumber"
                       placeholder="Issue Number"
                       ng-model="ctrl.SignUpModel.Form.IssueNumber">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="password"
                       class="form-control cvc"
                       ng-class="{'has-error' : ctrl.SignUpForm.CVC.$invalid && ctrl.SignUpForm.$submitted}"
                       name="CVC"
                       placeholder="CVC*"
                       ng-model="ctrl.SignUpModel.Form.CVC"
                       cc-cvc
                       ng-required="true"
                       required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <input type="text"
                       class="form-control vat"
                       ng-class="{'has-error' : ctrl.SignUpForm.VAT.$invalid && ctrl.SignUpForm.$submitted}"
                       name="VAT"
                       placeholder="VAT Number"
                       ng-model="ctrl.SignUpModel.Form.VAT"
                       ng-required="false"
                       required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <select ng-model="ctrl.SignUpModel.Form.UserCountry"
                        ng-options="b for b in ctrl.SignUpModel.Countries track by b"
                        placeholder="Country*"
                        name="UserCountry"
                        class="select-country"
                        ng-class="{'has-error' : ctrl.SignUpForm.UserCountry.$invalid && ctrl.SignUpForm.$submitted}"
                        required>
                  <option ng-show="!ctrl.SignUpModel.Form.UserCountry" value="" ng-class="{'has-error' : ctrl.SignUpForm.UserCountry.$invalid && ctrl.SignUpForm.$submitted}">Country*</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="terms-conditions-block">
          <div class="terms-conditions-title">Check to confirm that you have read and understood the <a href="~/Content/document/RelayWorks_Web_Terms_and_Conditions_20180424.pdf" target="_blank">Terms & Conditions</a> and <a href="~/Content/document/Terms_Conditions.pdf" target="_blank">Privacy Policy</a>.</div>


          <div class="terms-check">
            <input type="checkbox" ng-model="ctrl.SignUpModel.IsAgree" />
          </div>

        </div>
      </div>
    </div>
    <div class="row text-center" ng-if="ctrl.ErrorMessage != ''">
      <div class="col col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 no-padding margin-top-20">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="bold" ng-bind-html="ctrl.ErrorMessage"></div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col col-xs-12">
        <div class="buttons-block">
          @*<button class="btn btn-pay" type="submit" ng-disabled="ctrl.SignUpForm.$invalid && ctrl.SignUpForm.$submitted">*@
          <button class="btn btn-pay" type="submit" ng-disabled="!ctrl.SignUpModel.IsAgree">
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
