﻿<div class="sign-up-wizard-step-2">
    <div class="row">
        <div class="col-xs-12">

            <div class="featuresBlock">
                <div class="subscription-type-block-features">
                    <div class="price-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="from-label">Features</div>
                            </div>
                        </div>
                    </div>


                    <div class="description-block">
                        <div class="type-stats">
                            <div class="handover-items-counter white-row">
                                Shift Handover
                            </div>
                            <div class="handover-items-counter grey-row">
                                Remote Handover
                            </div>
                            <div class="handover-items-counter white-row">
                                Team Handover
                            </div>
                            <div class="handover-items-counter grey-row">
                                Reporting
                            </div>
                            <div class="handover-items-counter white-row">
                                Archiving
                            </div>
                            <div class="handover-items-counter grey-row">
                                Notifications
                            </div>
                            <div class="handover-items-counter white-row">
                                PDF Reports
                            </div>
                            <div class="handover-items-counter grey-row">
                                Timezone
                            </div>
                            <div class="handover-items-counter white-row">
                                Location
                            </div>
                            <div class="handover-items-counter grey-row">
                                Sharing
                            </div>
                            <div class="handover-items-counter white-row">
                                Customisation
                            </div>
                            <div class="handover-items-counter grey-row" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; padding-bottom: 5px; height: 30px !important;">
                                Project Tasking
                            </div>
                            @*<div class="handover-items-counter white-row">
                                Branding
                            </div>
                            <div class="handover-items-counter grey-row" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; padding-bottom: 5px;">
                                User Support
                            </div>*@
                        </div>
                    </div>
                </div>
                @*<br />
                    <div class="BtnSeeMore">
                        <div class="handover-items-counter white-row">
                            <strong>See More</strong>
                        </div>
                    </div>*@
            </div>


            <div class="selected-line" ng-class="ctrl.SignUpModel.Form.SubscriptionLevelType == 0 ? 'selected' : ''">
                <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(0)">

                    <div class="price-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="from-label">Basic</div>
                            </div>
                            <div class="col-md-12 price-info">
                                <div class="currency-symbol">
                                    £
                                </div>
                                <div class="price-label">
                                    {{ ctrl.SignUpModel.SubscriptionLevelPrices.Basic }}
                                </div>
                                <div class="period-label">per month</div>
                            </div>
                        </div>
                    </div>


                    <div class="description-block">
                        <div class="type-stats">
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg"  height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-tasks-counter grey-row " style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter grey-row " style=" text-align: left; padding-left: 10px;">
                                Handovers
                            </div>
                            <div class="handover-items-counter white-row"  style=" text-align: left; padding-left: 10px;">
                                30 Days
                            </div>
                            <div class="handover-items-counter grey-row "  style=" text-align: left; padding-left: 10px;">
                                Last 7 Days
                            </div>
                            <div class="handover-items-counter white-row " style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter grey-row " style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter white-row " style=" text-align: left; padding-left: 10px;  padding-top: 5px;">
                                1
                            </div>
                            <div class="handover-items-counter grey-row " style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter white-row " style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;"/>
                            </div>
                            <div class="handover-items-counter grey-row "  style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 10px;     padding-bottom: 3px;">
                                Manage Handover Tasks
                            </div>
                            @*<div class="handover-items-counter white-row "  style="text-align: left; padding-left: 10px; padding-bottom: 3px;">
                                RelayWorks
                            </div>
                            <div class="handover-items-counter grey-row " style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 10px;     padding-bottom: 3px;">
                                E-mail Support
                            </div>*@
                        </div>
                    </div>
                    <div class="selected-icon" ng-show="ctrl.SignUpModel.Form.SubscriptionLevelType == 0"></div>

                </div>
            </div>
            <div class="selected-line" ng-class="ctrl.SignUpModel.Form.SubscriptionLevelType == 1 ? 'selected' : ''">
                <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(1)">
                    @*<div class="promotion-label">Promotion</div>*@
                    <div class="price-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="from-label">Intermediate</div>
                            </div>
                            <div class="col-md-12 price-info">
                                <div class="currency-symbol">
                                    £
                                </div>
                                <div class="price-label">
                                    {{ ctrl.SignUpModel.SubscriptionLevelPrices.Premium }}
                                </div>
                                <div class="period-label">per month</div>
                            </div>
                        </div>
                    </div>

                    <div class="description-block">
                        <div class="type-stats">
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                Handovers & Custom Search
                            </div>
                            <div class="carry-forward-counter white-row" style="text-align: left; padding-left: 10px;">
                                3 Months
                            </div>
                            <div class="branding-info grey-row" style="text-align: left; padding-left: 10px;">
                                3 Months
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                3
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="month-archive-counter grey-row" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                Manage Handover Tasks
                            </div>
                            @*<div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                RelayWorks + Company
                            </div>
                            <div class="handover-items-counter grey-row " style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                E-mail Support
                            </div>*@
                        </div>
                    </div>
                    <div class="selected-icon" ng-show="ctrl.SignUpModel.Form.SubscriptionLevelType == 1"></div>
                </div>
            </div>
            @*<div class="selected-line" ng-class="ctrl.SignUpModel.Form.SubscriptionLevelType == 2 ? 'selected' : ''">*@
            <div class="selected-line" ng-class="ctrl.SignUpModel.Form.SubscriptionLevelType == 2 ? 'selected' : ''" ng-init="getSelectClass()">
                <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(2)">
                    @*<div class="promotion-label">Promotion</div>*@
                    <div class="price-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="from-label">Advanced</div>
                            </div>
                            <div class="col-md-12 price-info">
                                <div class="currency-symbol">
                                    £
                                </div>
                                <div class="price-label">
                                    {{ ctrl.SignUpModel.SubscriptionLevelPrices.Ultimate }}
                                </div>
                                <div class="period-label">per month</div>
                            </div>
                        </div>
                    </div>

                    <div class="description-block">
                        <div class="type-stats">
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                Handovers & Custom Search
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;     padding-top: 5px;">
                                <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;     padding-top: 5px;" />
                                <p style="text-align:left; color:#F29105;      padding-left: 25px;  padding-bottom:5px"> Unlimited</p>
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;     padding-top: 5px;">
                                <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;    padding-top: 5px;" />
                                <p style="text-align:left; color:#F29105;      padding-left: 25px; padding-bottom:5px"> Unlimited</p>
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px; ">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;     padding-top: 5px;">
                                <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;    padding-top: 5px;" />
                                <p style="text-align:left; color:#F29105;     padding-left: 25px;  padding-bottom:5px"> Unlimited</p>
                            </div>
                            <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                            </div>
                            <div class="month-archive-counter grey-row" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                Planned Project Tasks
                            </div>
                            @*<div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                RelayWorks + Company
                            </div>
                            <div class="handover-items-counter grey-row " style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                Live Chat
                            </div>*@
                        </div>
                    </div>
                    <div class="selected-icon" ng-show="ctrl.SignUpModel.Form.SubscriptionLevelType == 2"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <button class="btn btn-buy active" ui-sref="app.step3" ng-disabled="ctrl.SignUpModel.Form.SubscriptionLevelType === null" ng-click="ctrl.changeStep(2)">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
